---
BasedOnStyle: LLVM
IndentWidth: 3
---
Language: Cpp
AccessModifierOffset: -3
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum: true
    AfterCaseLabel: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterClass: true
    AfterUnion: true
    AfterExternBlock: true
    AfterControlStatement: true
    BeforeCatch: false
    BeforeLambdaBody: true
    BeforeWhile: false
    IndentBraces: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
ColumnLimit: 80
CompactNamespaces: false
Cpp11BracedListStyle: true
IndentCaseBlocks: false
IndentCaseLabels: false
IndentGotoLabels: false
NamespaceIndentation: All
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty